<app-navbar> </app-navbar>
<div class="bonito">
<div class="container-fluid">

<hr class="m-1 mt-3">
<!-- Inicio row -->
<div class="row mt-5"></div>
<!-- Fin row -->

<!-- Inicio row -->
<div class="row">
  <div class="col-2 offset-sm-2 text-center">
    <button class="btn" style="height: 50px; font-family: 'Montserrat', sans-serif; font-size: 25px"
      routerLink="/inicio" routerLinkActive="active"><i class="fas fa-angle-double-left"></i></button>
  </div>

  <div class="col-8 col-sm-6 col-md-4 text-center">
    <h2 style="font-family: 'Montserrat', sans-serif; font-size: 54px">Celo</h2>
  </div>

  <div class="col-8 offset-2 offset-sm-0 text-center col-sm-2">
    <button data-toggle="modal" data-target="#agregarCelo" class="btn"
      style="height: 50px; font-family: 'Montserrat', sans-serif; font-size: 25px">Añadir <i
        class="fas fa-plus"></i></button>
  </div>
</div>

<hr class="m-1">

<!-- Fin row -->

<!-- Inicio row -->

<div class="row mt-2">
  <div class="col-4 offset-6 offset-sm-8">
    <select id="inputFiltro" class="form-control" style="width: 100%">
      <option selected>Fecha</option>
    </select>
  </div>
</div>

<hr class="m-1">

<!-- Fin row -->

<!-- Inicio row -->
<div class="row m-3" *ngIf="celoMascota">

  <!-- Card Entrada -->

  <div class="card  m-1" style="width: 20rem; border-radius: 20px" *ngFor="let celo of celoMascota; let i = index">
    &nbsp;
    <h5 class="card-title" style="text-align: center; font-weight: bold">Celo nro. {{i+1}}</h5>
    &nbsp;
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fecha de inicio: {{celo.fecha_i}}</li>
      <li class="list-group-item">Fecha de fin: {{celo.fecha_f}}</li>
      <li class="list-group-item">Descripción: {{celo.observaciones}}</li>

    </ul>
    <div class="card-body">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#editarCelo" (click)="selecciona(celo)">
        Editar
      </button>

      <button type="button" class="btn btn-danger" (click)="eliminar(celo)">
        Eliminar
      </button>

    </div>
  </div>

  <!-- Fin Card -->

</div>
<!-- Fin row -->

</div>
</div>
<app-footer></app-footer>

<!-- Modal Editar-->
<div class="modal fade" id="editarCelo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" [formGroup]="formEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Celo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col">
            <label for="inputFechaI">Fecha de inicio</label>
            <input type="date" class="form-control" id="inputFechaI" 
            formControlName="fechaIE">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputFechaF">Fecha de fin</label>
            <input type="date" class="form-control" id="inputFechaF" 
            formControlName="fechaFE">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col">
            <label for="inputDesCelo">Descripción</label>
            <input type="text" class="form-control" id="inputDesCelo"
            formControlName="observE">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal Editar-->

<!-- Modal Añadir-->
<div class="modal fade" id="agregarCelo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" [formGroup]="formAgregar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Celo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col">
            <label for="inputFechaI">Fecha de inicio</label>
            <input type="date" class="form-control" id="input" formControlName="fechaIC">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputFechaF">Fecha de fin</label>
            <input type="date" class="form-control" id="inputFechaF" formControlName="fechaFC">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col">
            <label for="inputDesVacuna">Descripción</label>
            <input type="text" class="form-control" id="inputDesVacuna" placeholder="Descripción"
              formControlName="observC">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crear()"
          [disabled]="!formAgregar.valid">Añadir</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal Añadir-->
