<div class="box-principal">
  <div class="welcome">
      <div class="box-black">
        <div class="box-center">
           <p class="titulo">MEDPET</p>
           <p class="subtitulo">El mejor recordatorio para tus mascotas</p>
           </div>  
      </div>
     </div>

<!-- segunda parte -->
<div class="AboutUs container-fluid">
  <div class="row justify-content-start">
      <div class="col-sm-6 box-left">
          <div class="box-center">
              <p class="titulo2">Quienes somos?</p>
              <br>
               <p class="parrafo">
              en algun momento redactaremos algo super cool aqui. 
              que hable sobre la paginitca wooooow. 
              mgustan los flips de chocolate. 
              tenemos que pasar con 20 la materi guillen.
              ya no se que mas escriir pero me ladille jajaj saludos</p> 
              <div class="boton">
              <button type="button" class="btn btn-outline-dark">About Us</button>
            </div>
            </div> 
           
      </div>
      <div class="col-sm-6 box-right">
             <img class="img-fluid" src=" " alt="" >
           
      </div>
</div>
</div>

<!-- tercera parte -->
<div class="Preparalo">
<div class="box-black2">
  <div class="box-center">
    <p class="titulo">Que ofrecemos</p>
    <p class="subtitulo">¡¡aun no se pero proto habra algo aqui!!</p>
    <div class="boton">
        <button type="button" class="btn btn-outline-light">See It!</button>
      </div>

  </div>

</div>
</div>
<!-- cuarta parte -->
<div class="recordatorio">
<div class="box-center">
  <p class="titulo2">Proximamente</p>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src=" " alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flofy </h5>
              <p class="card-text"> necesita una vacuna super arrecha.</p>
            </div>

            <div class="overlay">
                <div class="boton">
                    <button type="button" class="btn btn-outline-light">buscala ahora</button>
                  </div>
              </div>
          
        </div>
        <div class="card">
            <img class="card-img-top" src=" " alt=" ">
            <div class="card-body">
              <h5 class="card-title">Arturo</h5>
              <p class="card-text"> le toca bañar hacer cita ahora.</p>
            </div>
            <div class="overlay">
                <div class="boton">
                    <button type="button" class="btn btn-outline-light">Take it now</button>
                  </div>
              </div>
          
        </div>
        <div class="card">
            <img class="card-img-top" src=" " alt=" ">
            <div class="card-body">
              <h5 class="card-title">jose</h5>
              <p class="card-text"> no se me ocurre mas nada </p>
            </div>
            <div class="overlay">
                <div class="boton">
                    <button type="button" class="btn btn-outline-light">Take it now</button>
                  </div>
              </div>
        </div>
      </div>
</div>


</div>