<app-navbar> </app-navbar>
<div class="bonito">
<div class="container-fluid">

<hr class="m-1 mt-3">
<!-- Inicio row -->
<div class="row mt-5"></div>
<!-- Fin row -->

<!-- Inicio row -->
<div class="row">
  <div class="col-2 offset-sm-2 text-center">
    <button class="btn" style="height: 50px font-family: 'Montserrat', sans-serif; font-size: 25px"
      routerLink="/inicio" routerLinkActive="active"><i class="fas fa-angle-double-left"></i></button>
  </div>

  <div class="col-8 col-sm-6 col-md-4 text-center">
    <h2 style="font-family: 'Montserrat', sans-serif">Observaciones</h2>
  </div>

  <div class="col-8 offset-2 offset-sm-0 text-center col-sm-2">
    <button data-toggle="modal" data-target="#agregarObservacion" class="btn"
      style="height: 50px; font-family: 'Montserrat', sans-serif; font-size: 25px">Añadir <i
        class="fas fa-plus"></i></button>
  </div>
</div>

<hr class="m-1">

<!-- Fin row -->

<!-- Inicio row -->

<div class="row mt-2">
  <div class="col-4 offset-6 offset-sm-8">
    <select id="inputFiltro" class="form-control" style="width: 100%">
      <option selected>Fecha</option>
    </select>
  </div>
</div>

<hr class="m-1">

<!-- Fin row -->

<!-- Inicio row -->
<div class="row m-3" *ngIf="observacionMascota">

  <!-- Card Entrada -->

  <div class="card  m-1" style="width: 20rem; border-radius: 20px"
    *ngFor="let observacion of observacionMascota; let i = index">
    &nbsp;
    <h5 class="card-title" style="text-align: center; font-weight: bold">{{observacion.titulo}}</h5>
    &nbsp;
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fecha de observación: {{observacion.fecha}}</li>
      <li class="list-group-item">Foto anexada: {{observacion.foto}}</li>
      <li class="list-group-item">Texto: {{observacion.texto}}</li>
    </ul>
    <div class="card-body">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success mr-1" data-toggle="modal" data-target="#editarObservacion" (click)="selecciona(observacion)">
        Editar
      </button>

      <button type="button" class="btn btn-danger" (click)="eliminar(observacion)">
        Eliminar
      </button>

    </div>
  </div>

  <!-- Fin Card -->

</div>
<!-- Fin row -->

</div>
</div>
<app-footer></app-footer>

<!-- Modal Editar-->
<div class="modal fade" id="editarObservacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" [formGroup]="formEditar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Observación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col">
            <label for="inputFechaO">Fecha de Observación</label>
            <input type="date" class="form-control" id="inputFechaO" formControlName="fechaE">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputTituloO">Titulo de Observación</label>
            <input type="text" class="form-control" id="inputTituloO" formControlName="tituloE">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col">
            <label for="inputFotoO">Foto</label>
            <input type="text" class="form-control" id="inputFotoO" formControlName="fotoE">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col">
            <label for="inputTextoO">Texto</label>
            <input type="text" class="form-control" id="inputTextoO" formControlName="textoE">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal Editar-->

<!-- Modal Añadir-->
<div class="modal fade" id="agregarObservacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" [formGroup]="formAgregar">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Observacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col">
            <label for="inputFechaO">Fecha de Observación</label>
            <input type="date" class="form-control" id="inputFechaO" formControlName="fechaO">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputTituloO">Titulo de Observación</label>
            <input type="text" class="form-control" id="inputTituloO" formControlName="tituloO">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col">
            <label for="inputFotoO">Foto</label>
            <input type="text" class="form-control" id="inputFotoO" placeholder="link" formControlName="fotoO">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="form-group col">
            <label for="inputTextoO">Texto</label>
            <input type="text" class="form-control" id="inputTextoO" placeholder="descripcion" formControlName="textoO">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crear()"
          [disabled]="!formAgregar.valid">Añadir</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal Añadir-->
