<table id="tabla" >
 <thead>
   <td>
      <tr class="elemento"  (click)="filterExact2()">
      

        
        <div>
            <div class="icono" >  <i class="fas fa-paw" ></i></div>
            <span> Mascotas</span> 
        </div>  
         
      </tr>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-paw" ></i></div>
              <span> Mascotas</span> 
          </div>  
           
        </tr>
   </td>

   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-paw"></i></div>
              <span>Mascotas</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-paw"></i></div>
                <span>Mascotas</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-paw"></i></div>
              <span> Mascotas </span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-paw"></i></div>
                <span> Mascotas</span> 
            </div>  
             
          </tr>
   
   
 
 </thead>


</table>