<footer class="pie">
      <div class="foot">  

            <a href="https://instagram.com"> <i class="fab fa-instagram" aria-hidden="true" ></i></a>
            <a href="https://facebook.com"> <i class="fab fa-facebook-square" aria-hidden="true"></i>    </a> 
            <a href="https://twitter.com"> <i class="fab fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="foot">  
      <a class="acerca" href="/Acerca" class="fa2">Acerca De Nosotros</a>
          <a>  &copy; 2019 MEDPET C.A. RIF: J-00000000-0</a>
        </div>
</footer>

