
  <div id="demo" class="carousel slide fondo mt-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"> </li>
      <li data-target="#demo" data-slide-to="1" > </li>
      <li data-target="#demo" data-slide-to="2" > </li>

    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img style="width: 100%" src="../assets/imagenes/p1.jpg" alt="">
      </div>
      <div class="carousel-item">
          <img style="width: 100%" src="../assets/imagenes/c1.jpg" alt="">
      </div>
      <div class="carousel-item">
        <img style="width: 100%" src="../assets/imagenes/p4.jpg" alt="">
    </div>

    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"> </span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"> </span>
      </a>


  </div>
 