<!-- Inicio Fondo -->
<div class="fondo">
  <div class="container">
    <div class="row mb-5"></div>

    <div class="row  mt-5 mb-5"></div>

    <div class="row">

      <div class="col-3"></div>

      <div class="col-6">
        <!-- Inicio Cuadro -->
        <div class="recuadroInicio">

          <!-- Inicio Fila -->
          <div class="row mt-3 mb-3 justify-content-center">
            <h2>MEDPET PWA2</h2>
          </div>
          <!-- Fin Fila -->

          <!-- Inicio Fila -->
          <div class="row">
            <!-- Inicio Pills -->
            <div class="container">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#menu1">Registrarme</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">

                <!-- Tab 1 -->
                <div class="tab-pane container active" id="home">

                  <!-- Form Iniciar Sesion -->
                  <form [formGroup]="formLogin">
                    <div class="form-group mt-3">
                      <label>Correo electrónico</label>
                      <input type="email" class="form-control" formControlName="correoI"
                        placeholder="Correo electrónico" required>
                      <div *ngIf="correoI.invalid && (correoI.dirty || correoI.touched)" class="alert alert-danger">
                        <div *ngIf="correoI.errors.email">
                          Debes ingresar un correo válido
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Contraseña</label>
                      <input type="password" class="form-control" formControlName="passI" placeholder="Contraseña"
                        required>
                      <div *ngIf="passI.invalid && (passI.dirty || passI.touched)" class="alert alert-danger">
                        <div *ngIf="passI.errors.required">
                          Debes ingresar una contraseña
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <a routerLink="/olvide">Recuperar contraseña</a>
                    </div>
                    <button type="button" class="btn btn-secondary" routerLinkActive="active" (click)="login()"
                      [disabled]="!formLogin.valid">Iniciar Sesión</button>
                  </form>

                  <!-- Fin Form Iniciar Sesion -->

                </div>
                <!-- Fin Tab 1 -->

                <!-- Tab 2 -->
                <div class="tab-pane container fade" id="menu1">

                  <!-- Form Registro -->
                  <form [formGroup]="formRegistro">
                    <div class="form-group mt-3">
                      <div class="form-row">
                        <div class="form-col-6">
                          <label>Nombre</label>
                          <input type="text" class="form-control" formControlName="nombreR" placeholder="Nombre"
                            required>
                          <div *ngIf="nombreR.invalid && (nombreR.dirty || nombreR.touched)" class="alert alert-danger">
                            <div *ngIf="nombreR.errors.required">
                              Debes ingresar un nombre
                            </div>
                          </div>
                        </div>
                        <div class="form-6">
                          <label>Apellido</label>
                          <input type="text" class="form-control" formControlName="apellidoR" placeholder="Apellido"
                            required>
                          <div *ngIf="apellidoR.invalid && (apellidoR.dirty || apellidoR.touched)"
                            class="alert alert-danger">
                            <div *ngIf="apellidoR.errors.required">
                              Debes ingresar un apellido
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <!-- NgMode em el input -->
                      <label>Correo electrónico</label>
                      <input type="email" class="form-control" formControlName="correoR"
                        placeholder="Correo electronico" required>
                      <div *ngIf="correoR.invalid && (correoR.dirty || correoR.touched)" class="alert alert-danger">
                        <div *ngIf="correoR.errors.email">
                          Debes ingresar un correo válido
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Contraseña</label>
                      <input type="password" class="form-control" formControlName="passR" placeholder="Contraseña"
                        required>
                      <div *ngIf="passR.invalid && (passR.dirty || passR.touched)" class="alert alert-danger">
                        <div *ngIf="passR.errors.required">
                          Debes ingresar una contraseña
                        </div>
                        <div *ngIf="passR.errors.minlength">
                          Debes ingresar una contraseña de mínimo 5 caracteres
                        </div>
                      </div>
                    </div>


                    <button type="button" class="btn btn-secondary" routerLinkActive="active" (click)="register()"
                      [disabled]="!formRegistro.valid">Registrarme</button>

                  </form>

                  <!-- Fin Form Registro -->

                </div>
                <!-- Fin Tab 1 -->

              </div>

            </div>
            <!--  Fin Pills -->
          </div>
          <!-- Fin Fila -->

          <!-- Inicio Fila -->
          <div class="row"></div>
          <!-- Fin Fila -->

        </div>
        <!-- Fin Cuadro -->
      </div>
      <div class="col-3"></div>
    </div>

  </div>

  <!--Inicio modal-->

  <ng-template #template>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Usted se ha registrado exitosamente
    </div>
  </ng-template>

  <!--Fin modal-->
</div>
<!-- Fin Inicio Fondo -->

<ng-template #loading>
  Loading User...
</ng-template>
