<app-navbar> </app-navbar>

<app-detalles-mascota></app-detalles-mascota>

<hr class="m-1">

<!-- <div class="container main-container"> -->
<!-- <div class="mt-2 calendar-wrapper"> -->
<!-- </div> -->
<!-- <div class="mt-2" > -->
<!-- </div> -->
<!-- </div> -->

<!-- Inicio Fondo -->
<div class="fondo">
  <div class="container">

    <!-- Inicio Fila Calendario -->
    <!-- <div class="row mt-1">
        <div class="col-1"></div>
        <div class="col-10 mb-5 mt-2">
          <div class="cuadro" style="width: 880px; height: 400px; border:solid ">
              <h2>AQUI VA EL CALENDARIO</h2>
          </div>
        </div>
        <div class="col-1"></div>
      </div> -->
    <!-- Final Fila Calendario -->

    <!-- Inicio Fila 1 Botones -->
    <div class="row mt-3">
      <div class="col-1">
      </div>
      <div class="col-5">
        <div class="boton" routerLink="/vacuna" routerLinkActive="active">
          <button class="btn btn-block" style="background: #778beb; height:auto ; color: white;">
            <div class="icono"> <i class="fa fa-syringe" style="color:white;"></i></div>Vacunas
          </button>
        </div>
      </div>
      <div class="col-5">
        <div class="boton" routerLink="/desparasitacion" routerLinkActive="active">
          <button class="btn btn-block" style="background:#786fa6; height:auto; color: white;">
            <div class="icono"> <i class="fa fa-capsules" style="color:white;"></i></div>Desparasitación
          </button>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
    <!-- Fin Fila 1 Botones -->

    <!-- Inicio Fila 2 Botones -->
    <div class="row mt-5">
      <div class="col-1">
      </div>
      <div class="col-5">
        <div class="boton" routerLink="/consulta" routerLinkActive="active">
          <button class="btn btn-block" style="background: #f5cd79; height:auto ; color: white;">
            <div class="icono"> <i class="fas fa-notes-medical" style="color:white;"></i></div>Consultas
          </button>
        </div>
      </div>
      <div class="col-5">
        <div class="boton" routerLink="/observacion" routerLinkActive="active">
          <button class="btn btn-block" style="background:#f8a5c2; height:auto ; color: white;">
            <div class="icono"> <i class="fas fa-paw" style="color:white;"></i></div>Observaciones
          </button>
        </div>
      </div>
      <div class="col-1">
      </div>
      <div *ngIf="mascotaActual.sexo === 'Macho'">
        &nbsp;
      </div>
      <div class="col-1">
      </div>
    </div>
    <!-- Fin Fila 2 Botones -->

    <!-- Inicio Fila 3 Boton SOLO SI ES HEMBRA -->
    <div class="row mt-5 mb-5" *ngIf="mascotaActual.sexo === 'Hembra'">
      <div class="col-1">
      </div>
      <div class="col-10">
        <div class="boton" routerLink="/celo" routerLinkActive="active">
          <button class="btn btn-block" style="background: #f19066; height:auto ;color: white;">
            <div class="icono"> <i class="fas fa-briefcase-medical" style="color:white;"></i></div>Celo
          </button>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
    <!-- Fin Fila 3 Boton SOLO SI ES HEMBRA -->

  </div>
  <!-- Fin Inicio Fondo -->

  <app-footer></app-footer>
