.calendar-wrapper{
    min-height: 500px;
    background-color: green;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px, 1fr) ); 
    gap: 1rem;
}

.grid-wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    height:100%;
    background-color: rgb(142, 45, 187);
    cursor: pointer;
}

.icono{
    color: #000000;
    display: block;
    margin: auto;
    font-size:70px !important
}

button{
    font-family: 'Montserrat', sans-serif;
    background:#f8a5c2; 
    height:auto ; 
    color: white;
}

button:hover { 
    filter: alpha(opacity=80);
    opacity: .8; 
  }