<app-navbar> </app-navbar>

<app-banner></app-banner>


<!-- <div class="container main-container"> -->
<!-- <div class="mt-2 calendar-wrapper"> -->
<!-- </div> -->
<!-- <div class="mt-2" > -->
<!-- </div> -->
<!-- </div> -->

<!-- Inicio Fondo -->
<div class="fondo">
  <div class="container">

    <!-- Inicio Fila Calendario -->
    <!-- <div class="row mt-1">
        <div class="col-1"></div>
        <div class="col-10 ml-3 mb-5 mt-2">
          <div class="cuadro" style="width: 880px; height: 400px; border:solid ">
              <h2>AQUI VA EL CALENDARIO</h2>
          </div>
        </div>
        <div class="col-1"></div>
      </div> -->
    <!-- Final Fila Calendario -->

    <!-- Inicio Fila 1 Botones -->
    <div class="row mt-3">
      <div class="col-1">
      </div>
      <div class="col-5 ml-3">
        <div class="boton" routerLink="/vacuna" routerLinkActive="active">
          <button class="btn" style="background:rgb(156, 187, 207); height: 200px; width: 400px;">
            <div class="icono"> <i class="fa fa-syringe"></i></div>Vacunas
          </button>
        </div>
      </div>
      <div class="col-5">
        <div class="boton" routerLink="/desparasitacion" routerLinkActive="active">
        <button class="btn" style="background:rgb(156, 187, 207); height: 200px; width: 400px;">
          <div class="icono"> <i class="fa fa-capsules"></i></div>Desparacitación
        </button>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
  <!-- Fin Fila 1 Botones -->

  <!-- Inicio Fila 2 Botones -->
  <div class="row mt-5">
    <div class="col-1">
    </div>
    <div class="col-5 ml-3">
      <div class="boton" routerLink="/consulta" routerLinkActive="active">
        <button class="btn" style="background: rgb(156, 187, 207); height: 200px; width: 400px;">
          <div class="icono"> <i class="fas fa-notes-medical"></i></div>Citas
        </button>
      </div>
    </div>
    <div class="col-5">
      <div class="boton">
        <button class="btn" style="background:rgb(156, 187, 207); height: 200px; width: 400px;">
          <div class="icono"> <i class="fas fa-paw"></i></div>Observaciones
        </button>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
  <!-- Fin Fila 2 Botones -->

  <!-- Inicio Fila 3 Boton SOLO SI ES HEMBRA -->
  <div class="row mt-5 mb-5" *ngIf="mascotaActual.sexo === 'Hembra'">
    <div class="col-1">
    </div>
    <div class="col-10 ml-3">
      <div class="boton" routerLink="/celo" routerLinkActive="active">
        <button class="btn" style="background:rgb(156, 187, 207); height: 200px; width: 880px;">
          <div class="icono"> <i class="fas fa-briefcase-medical"></i></div>Celo
        </button>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
  <!-- Fin Fila 3 Boton SOLO SI ES HEMBRA -->


</div>
</div>
<!-- Fin Inicio Fondo -->

<app-footer></app-footer>
