.fondo{
	background-image: url("https://i.pinimg.com/564x/3a/d3/47/3ad34776934f3c282121a5acf73fbbb0.jpg");
	width: 100%;
	height: 695px;
	font-family: 'Montserrat', sans-serif;
	}
	
	.recuadroInicio{
		background-color: #FFFFFF;
		padding: 10px;
		border-radius: 10px;
	}
	
	input{
		background-color: #FFFFFF;
	}
	
	option{
		background-color: #FFFFFF;
	}
	
	select{
		background-color: #FFFFFF;
	}