.desp .card {
    background-color: #786fa6; 
}

.cons .card {
    background-color: #f5cd79; 
}

.celo .card {
    background-color: #f19066; 
}

.card .list-group {
    background-color: white; 
}


