#desp .card-header  {
    background-color: #786fa6; 
}

#cons .card-header  {
    background-color: #f5cd79; 
}

#celo .card-header {
    background-color: #f19066; 
}

.card-header {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


