<app-navbar> </app-navbar>

<hr class="m-1 mt-3">
<!-- Inicio row -->
<div class="row mt-5"></div>
<!-- Fin row -->

<!-- Inicio row -->
<div class="row mb-3 ">
  <div class="col-2"></div>
  <div class="col-3">
    <button class="btn" style="height: 50px; width:90px; font-family: 'Montserrat', sans-serif; font-size: 25px"
      routerLink="/inicio" routerLinkActive="active"><i class="fas fa-angle-double-left"></i></button>
  </div>

  <div class="col-6">
    <h2 style="font-family: 'Montserrat', sans-serif; font-size: 54px">Próximas <span
        class="badge badge-dark text-white" style="font-size: 54px;">{{contProximas}}</span></h2>
  </div>

</div>

<hr class="m-1">

<!-- Fin row -->


<!-- Inicio row -->

<div class="row mt-2 mb-2">
  <div class="col-2"></div>
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-3">
    <select id="inputFiltro" class="form-control" style="width: 300px">
      <option selected>Fecha</option>
    </select>
  </div>
</div>

<hr class="m-1">

<!-- Fin row -->
<div class="row m-6 justify-content-center">
  <!-- Inicio row -->

  <!-- Card Entrada -->

  <div class="card  m-1" style="width: 20rem; border-radius: 20px"
    *ngFor="let desparasitacion of desparasitacionesProximas; let i = index" id="desp">
    <h5 class="card-header text-white" style="text-align: center; font-weight: bold; margin-top: 10;">Desparasitación
      nro.
      {{i+1}}</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-weight: bold">Fecha: {{desparasitacion.fecha}}</li>
        <li class="list-group-item">Veterinario: {{desparasitacion.veterinario}}</li>
        <li class="list-group-item">Centro: {{desparasitacion.centro}}</li>
        <li class="list-group-item">Vencimiento: {{desparasitacion.vencimiento}}</li>
        <li class="list-group-item">Observaciones: {{desparasitacion.observaciones}}</li>
      </ul>
    </div>
  </div>


  <!-- Fin Card -->


  <!-- Fin row -->

  <!-- Inicio row -->
  <!-- Card Entrada -->

  <div class="card  m-1" style="width: 20rem; border-radius: 20px"
    *ngFor="let consulta of consultasProximas; let i = index" id="cons">
    <h5 class="card-header text-white" style="text-align: center; font-weight: bold; margin-top: 10;">Consulta nro.
      {{i+1}}
    </h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-weight: bold">Fecha: {{consulta.fecha}}</li>
        <li class="list-group-item">Veterinario: {{consulta.veterinario}}</li>
        <li class="list-group-item">Centro: {{consulta.centro}}</li>
        <li class="list-group-item">Recipe: {{consulta.recipe}}</li>
        <li class="list-group-item">Diagnóstico recibido: {{consulta.diagnostico}}</li>
        <li class="list-group-item">Descripción: {{consulta.observaciones}}</li>
      </ul>
    </div>
  </div>


  <!-- Fin Card -->


  <!-- Card Entrada -->

  <div class="card  m-1" style="width: 20rem; border-radius: 20px;" *ngFor="let celo of celosProximas; let i = index"
    id="celo">
    <h5 class="card-header text-white" style="text-align: center; font-weight: bold; margin-top: 10;">Celo nro. {{i+1}}
    </h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-weight: bold">Fecha inicio: {{celo.fecha_i}}</li>
        <li class="list-group-item">Fecha fin: {{celo.fecha_f}}</li>
        <li class="list-group-item">Descripción: {{celo.observaciones}}</li>
      </ul>
    </div>
  </div>


  <!-- Fin Card -->

   <!-- Card Entrada -->

   <div class="card  m-1" style="width: 20rem; border-radius: 20px;" *ngFor="let vacuna of vacunasProximas; let i = index"
   id="vacuna">
   <h5 class="card-header text-white" style="text-align: center; font-weight: bold; margin-top: 10;">Vacuna nro. {{i+1}}
   </h5>
   <div class="card-body">
     <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-weight: bold">Fecha: {{vacuna.fecha_i}}</li>
        <li class="list-group-item">Dosis: {{vacuna.dosis}}</li>
        <li class="list-group-item">Descripción: {{vacuna.descripcion}}</li>
     </ul>
   </div>
 </div>


 <!-- Fin Card -->


</div>
<!-- Fin row -->

<app-footer></app-footer>

